/*General*/

body {
  background-color: #F7F7F7;
  color: #4A4A4A;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  opacity: 1;
  text-decoration: none;
}

a:hover { opacity: 0.9; }

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1 {
  color: white;
  font-size: 4rem;
  margin: 225px 0 10px 0;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

.line-separator {
  background: #4A4A4A;
  border-bottom: 1px solid #4A4A4A;
  height: 1px;
  margin: 20px auto 0 auto;
  width: 100px;
}

/*Header*/

header {
  background: url("../img/hero.png") center no-repeat;
  background-size: cover;
  height: 680px;
  position: relative;
  overflow: auto;
  text-align: center;
  background-attachment: fixed;
}

nav {
  background-color: black;
  height: 80px;
  padding: 0 40px;
  position: fixed;
  width: 95%;
}

.nav-links { line-height: 50px; }

.nav-links a {
  color: white;
  font-size: 14px;
  float: right;
  padding: 17px 10px;
  text-transform: uppercase;
}

.logo {
  float: left;
  padding-top: 11px;
}

header p {
  color: white;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  width: 50%;
}

.arrow {
  position: absolute;
  bottom: 40px;
  right: 49.5%;
}

/*About us*/

.about-us { margin: 100px 0; }
.about-us img { width: 60px; }

.about-us p {
  font-weight: 300;
  margin: 0 auto;
  width: 45%;
}

/*How it works*/

.how-it-works {
  background: url("../img/about-us.jpg") center no-repeat;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center;
}

/*Services*/

.services {
  display: inline-block;
  margin: 90px auto;
  width: 80%;
}

.services p { font-weight: 300; }
.services img { width: 60px; }
.services h2 { font-size: 18px; }

.event-item {
  float: left;
  width: 50%;
}

.event-item p {
  margin: 0 auto;
  width: 70%;
}

/*Pictures*/

/*.pictures {
  margin-bottom: 100px;
  display: inline-block;
}

.pictures img { margin-right: 15px; }

.pictures .line-separator { margin: 70px auto; }*/

/*Beers*/

.beers {
  background: url("../img/about-us2.jpg") center no-repeat;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
  width: 100%;
}

.beers img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.beers h2 {
  color: white;
  padding: 130px 0 50px 0;
}

/*Footer*/

footer { font-weight: 300; }
footer p {
  font-size: 20px;
  margin: 0;
}

.social-icons {
  background-color: #333333;
  color: #9B9B9B;
  padding: 100px 0;
}

.social-icons img {
  margin-top: 30px;
  padding-right: 20px;
  width: 40px;
}

.bottom-bar {
  background-color: #2E2E2E;
  height: 40px;
  padding: 12px 0;
}

.bottom-bar a, .bottom-bar p {
  color: #4D4B4B;
  display: inline-block;
  line-height: 40px;
}

.bottom-bar a::after {
  content: "|";
  padding: 0 10px;
}
